@font-face {
  font-family: 'Mundial';
  font-style: normal;
  font-weight: 300;
  src: url(./mundial/MundialLight.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Mundial';
  font-style: normal;
  font-weight: 400;
  src: url(./mundial/MundialRegular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Mundial';
  font-style: normal;
  font-weight: 500;
  src: url(./mundial/MundialDemibold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Mundial';
  font-style: normal;
  font-weight: 600;
  src: url(./mundial/MundialBold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Mundial';
  font-style: italic;
  font-weight: 300;
  src: url(./mundial/MundialLightItalic.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Mundial';
  font-style: italic;
  font-weight: 400;
  src: url(./mundial/MundialItalic.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Mundial';
  font-style: italic;
  font-weight: 500;
  src: url(./mundial/MundialDemiboldItalic.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Mundial';
  font-style: italic;
  font-weight: 600;
  src: url(./mundial/MundialBoldItalic.woff2) format("woff2");
  font-display: swap;
}
